@inherits LayoutComponentBase

<div class="page">
    <aside class="sidebar">
        <NavMenu />
    </aside>

    <main class="main-shell">
        <div class="top-row">
            <div class="top-row-title">TianMen_Long 个人综合信息</div>
            <a class="top-row-link" href="/contact">合作咨询</a>
        </div>

        <article class="content">
            <div class="content-inner">
                @Body
            </div>
        </article>
    </main>
</div>
